.title {
    color: white;
}

.label {
    color: white;
    font-size: 25px;
}

.subLabel {
    color: white;
    font-size: 15px;
}

.input-prepend-color {
    background-color: black!important;
    color: white !important;
}

.card {
    border: 1px solid white;
    background: none;
}
.far {
    color: white;
}
.save {
    align-self: center;
}
.btn{
    background-color: black;
    color: white;
    border: white 1px solid;
}
